# CodeWarrior compiler
cw/

# Kamek build files/directories
*.o
*.bin
game/build
loader/build

# Tileset symlink for reggie
/assets/game/Stages/Texture

# Ignore music because it's too big
/assets/game/Sound/stream

# Ignore debug config file
/assets/game/config.ini

# Python cache/compiled modules
*.pyc
__pycache__/
